.todoInput {
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);
    justify-content: space-between;
}

.todoInput > input {
    border: 0;
    border-radius: 4px;
    width: 90%;
    font-size: 16px;
}

.todoInput > input:focus {
    outline: none;
}

.todoInputAddButton {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    cursor: pointer;
}