.listItem {
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
    justify-content: space-between;
    position: relative;
}

.done {
    opacity: 0.3;
    text-decoration: line-through black;
}

.listItemDone {
    display: flex;
    padding: 5px;
    text-decoration: line-through black;
    opacity: 0.3;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.listItemMain {
    display: flex;
    width: 95%;
}

.listItemInput {
    border-radius: 4px;
    border: 1px solid;
    font-size: 16px;
    padding: 2px;
    width: 90%;
    max-width: 90%;
}

.listItemButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.checkbox {
    margin: 0 8px 0 0;
    cursor: pointer;
}