.todosList {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);
    height: 350px;
    z-index: 1;
}

.todos {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}
.todos::-webkit-scrollbar {
    width: 3px;
}

.todos::-webkit-scrollbar-track {
    background: #FFFFFF;
}

.todos::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
    opacity: 0.3;
}

.filters {
    display: flex;
    margin-bottom: 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
}

.filter {
    background-color: #FFFFFF;
    opacity: 0.3;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.filterActive {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
}