.todosList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 35%);
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.filter {
    background-color: #FFFFFF;
    opacity: 0.3;
    border-radius: 4px;
    cursor: pointer;
}

.filterActive {
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}