@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400.css');

@media screen and (max-width: 1920px) {
    .container {
        height: 100vh;
        width: 1440px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        height: 100vh;
        width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        height: 100vh;
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 425px) {
    .container {
        height: 100vh;
        width: 375px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .container {
        height: 100vh;
        width: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}

.todo {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.todoHeader {
    font-family: "Roboto", sans-serif !important;
    font-size: 42px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 15px;
}